{% extends 'base.html.twig' %}

{% block subTitle %}
  Liste des pizzas
{% endblock %}

{% block body %}
  <h1>Liste des pizzas</h1>
  <p>
    <a href="{{ path('app_admin_pizzaAdmin_create') }}">Ajouter une pizza</a>
  </p>

  {% for pizza in pizzas %}
    <p>{{ pizza.name }}, prix: {{ pizza.price }} €<p>
    <p>
      <a href="{{ path('app_admin_pizzaAdmin_update', {
        id: pizza.id
      }) }}">Modifier la pizza</a>

      <a href="{{ path('app_admin_pizzaAdmin_remove', {
        id: pizza.id
      }) }}">Supprimer la pizza</a>
    </p>
  {% endfor %}
{% endblock %}