{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <a href="{{ path('app_admin_pizzaAdmin_list') }}">Revenir à la liste des pizzas</a>
  </div>

  {{ form_start(form) }}
    <div>
      {{ form_label(form.name) }}
      <hR/>
      {{ form_widget(form.name) }}
      <hR/>
      {{ form_errors(form.name) }}
    </div>
  {{ form_end(form) }}
{% endblock %}