<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
          {% block title %}
            Ma Pizzeria - {% block subTitle %}Accueil{% endblock %}
          {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          <link rel="stylesheet" href="/css/style.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
          <nav class="menu">
            <div class="menu--left">
              <a class="menu--item" href="{{ path('app_front_front_home') }}">
                <i class="fa-solid fa-house"></i>
              </a>
              <a class="menu--item" href="{{ path('app_admin_pizzaAdmin_list') }}">Admin Pizzas</a>
              <a class="menu--item" href="{{ path('app_admin_ingredientAdmin_list') }}">Admin Ingredients</a>
              <a class="menu--item" href="{{ path('app_admin_drinkAdmin_list') }}">Admin Boissons</a>
              <a class="menu--item" href="{{ path('app_admin_appetizerAdmin_list') }}">Admin Entrèes</a>
              <a class="menu--item" href="{{ path('app_admin_dessertAdmin_list') }}">Admin Desserts</a>
            </div>
            <div class="menu--right">
              <a class="menu--item menu--cart" href="{{ path('app_front_front_cart') }}">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="cart--count">
                  <p>{{ app.request.session.get('cart_size', 0) }}</p>
                </div>
              </a>
            </div>
          </nav>
        </header>
        <main>
          <div class="content">
            {% block body %}{% endblock %}
          </div>
        </main>
        <footer>
          <p>Pizza Tino</p>
        </footer>
    </body>
</html>
